p {
    width: 350px;
    border: 1px black solid;
    position: fixed;
}
span {
    background: green;
    color: white;
    position: relative;
    top: 150px;
    left: 50px;
}

/*Relative Positioning

A relative positioned element is positioned relative to its normal position.
The properties top, right, bottom, and left can be used to specify how the rendered box will be shifted. */